@model IEnumerable<Shop.Models.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Basket";
}
<h1>Basket</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacture)
                </td>
                <td>
                    <input value="@Html.DisplayFor(modelItem => item.Amount)" type="number"  min="1" id="@item.Id" onchange="updateValue(this)" />
                </td>
                <td class="row">
                    <a asp-controller="user" asp-action="removeproduct" asp-route-id="@item.Id" class="btn btn-danger col">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<form asp-action="Buy" method="post">
    <div class="row">
        <input type="submit" value="Book" class="btn btn-primary col-2" />
    </div>
</form>
<script src="~/js/SaveChanging.js" asp-append-version="false"></script>

